[submodule "src/client"]
	path = src/client
	url = git@github.com:jsonliu/client.git
[submodule "src/common"]
	path = src/common
	url = git@github.com:jsonliu/common.git
[submodule "src/admin"]
	path = src/admin
	url = git@github.com:jsonliu/admin.git
